<%= form_for assignment do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
      <%= f.label :street, "Street Address" %>
      <%= f.text_field :street %>
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
      <%= f.label :state, "State" %>
      <%= f.text_field :state %>
      <%= f.label :zip, "Zip" %>
      <%= f.text_field :zip %>
      <%= f.label :phone, "Phone Number" %>
      <%= f.telephone_field :phone, placeholder: "555-555-5555" %>
      
    </div>
  
  
  
    <div class="actions">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  
  <% end  %>