<h3>
<%= @assignment.name %>,
<%= @assignment.street %>,
<%= @assignment.city %>,
<%= @assignment.state %>,
<%= @assignment.zip %>,
<%= @assignment.phone %>
</h3>

<%= link_to "Edit Assignment", edit_assignment_path(@assignment) %>
<%=  link_to 'Delete', @assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= render partial: 'tasks/tasklist', :locals => {tasks: @assignment.tasks} %>