<h1>Task Selected</h1>

<h3>
<%= @task.assignment.name %>,
<%= @task.assignment.street %>,
<%= @task.assignment.city %>,
<%= @task.assignment.state %>,
<%= @task.assignment.zip %>,
<%= @task.assignment.phone %>
</h3>

